
<div class="banner">
<h1><%= @list.name %></h1>
</div>

<%= link_to "Add a movie to list", new_list_bookmark_path(@list), class:"btn btn-primary" %>

<div class="container">
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <%= image_tag(bookmark.movie.poster_url, class: "poster", height: "400", width: "300")%>
    <li><%= bookmark.comment %></li>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.movie.rating %></li>
    <li><%= bookmark.movie.overview %></li>
    <%= link_to "Remove movie from list",
          list_bookmark_path(@list, bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"}, class:"btn btn-primary"
          %>
    <% end %>
  </ul>
</div>

<%= link_to "back to overview", lists_path, class:"btn btn-primary" %>
